*         text=auto
# These files are text and should be normalized (convert crlf => lf)
*.py      text

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png     binary
*.jepg    binary
*.pdf     binary